@mixin media-md {
    @media screen and (min-width: 769px) {
        @content;
    }
}
@mixin media-md-max {
    @media screen and (max-width: 768px) {
        @content;
    }
}
.l-Checker {
    > *:not(header) {
        position: static;
        z-index: 0;
    }
    //////////////////////////////////////////////////////
    //utility
    .u-Container {
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
    .u-Btn-Wrapper {
        > * {
            display: inline-block;
            margin: auto;
        }
    } 

    //////////////////////////////////////////////////////
    //module
    @include media-md() {
        .m-Main {
            display: flex;
            > * {
                width: 50%;
            }
        }
    }

    .m-Result-Area {
        margin-top: 60px;
        margin-bottom: 60px;
        background: gray;
        padding-left: 10%;
        padding-right: 10%;
        color: #fff;

        > * {
            padding-top: 40px;
        }
        
        > .c-Result {
            padding-bottom: 40px;
        }
    }

    @mixin displayAnime {
        z-index: -1;
        opacity: 0;
        transform: scale(0.8);
        transition-property: transform, opacity;
        transition-duration: 0s;
    }
    @mixin displayAnime__active {
        z-index: 0;
        opacity: 1;
        transform: scale(1);
        transition-property: transform, opacity;
        transition-duration: .5s;
    }
    .m-Modal {
        position: absolute!important;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100vw;
        height: 100%;
        background: rgba($color: gray, $alpha: 0.5);
        z-index: 1;
        
        @include media-md() {
            width: 50vw;
            transform: translateX(-100%);
            transition-property: transform;
            transition-duration: .5s;
        }
        &.isActive {
            @include media-md() {
                transition-property: transform;
                transition-duration: .5s;
                transform: translateX(0%);
            }
  
        }

        @include media-md-max() {
            @include displayAnime();
        }
        &.isActive {
            @include media-md-max() {
                @include displayAnime__active();
            }
        }
        > * {
            position: relative;
        }

        .a-Btn.forClose {
            position: absolute;
            right: 0;
        }
    }

    .m-Modal__inner {
        .a-Btn.forClose {
            z-index: 1;
        }

        &:not(.isLoading) {
            .c-Modal-Content {
                @include displayAnime__active();
            }
            .c-Modal__loading {
                @include displayAnime();
            }
        }
        &.isLoading {
            // .a-Btn.forClose {
            //     right: -150%;
            // }
            
            .c-Modal-Content {
                @include displayAnime();
            }

            @keyframes rotation{
                0%{ transform:rotate(0);}
                100%{ transform:rotate(3600deg); }
            }
            .c-Modal__loading {
                @include displayAnime__active();
                .a-Rotate {
                    animation:10s linear infinite rotation;
                }
                
                @keyframes flashing1 {
                    0% {
                        opacity: 0;
                    }
                    25% {
                        opacity: 1;
                    }
                    50% {
                        opacity: 1;
                    }
                    75% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                    }
                }
                @keyframes flashing2 {
                    0% {
                        opacity: 0;
                    }
                    25% {
                        opacity: 0;
                    }
                    50% {
                        opacity: 1;
                    }
                    75% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                    }
                }
                @keyframes flashing3 {
                    0% {
                        opacity: 0;
                    }
                    25% {
                        opacity: 0;
                    }
                    50% {
                        opacity: 1;
                    }
                    75% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                    }
                }
                .a-Anime.forflash {
                    @for $i from 1 through 3 {
                        > *:nth-child(#{$i}) {
                            animation-name: flashing#{$i};
                            animation-duration: 0.5s;
                            animation-iteration-count: infinite;
                        }

                    }
                }
            }
        }
    }
    //////////////////////////////////////////////////////
    //Atomic
    .a-Input {
        text-align: center;
    }

    .a-Btn {
        display: inline-block;
        padding: 8px;
        cursor: pointer;

        &.forClose {
            color: #fff;
        }
    }
    
    .a-Btn.withChange {
        box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
        
        .ep-Text {
            padding: 8px;
            border-radius: 8px;
            .ep-Text_inner {
                padding: 20px;
                border-radius: 8px;
            }
        }

        &.forBack {

            .ep-Text {
                background: orange;
                .ep-Text_inner {
                    transition-property: color, background;
                    transition-duration: 0.5s;
                    background: #fff;
                    color: orange;
                }
            }

            @mixin btnAnime {
                .ep-Text {
                    .ep-Text_inner {
                        transition-property: color, background;
                        transition-duration: 0.5s;
                        background: orange;
                        color: #fff!important;
                    }
                }
            }
            @include media-md-max(){
                &:active {
                    @include btnAnime();
                }
            }
            @include media-md() {
                &:hover {
                    @include btnAnime();
                }
            }

        }

        &.forCalc {
            .ep-Text {
                background: skyblue;
                .ep-Text_inner {
                    transition-property: color, background;
                    transition-duration: 0.5s;
                    background: #fff;
                    color: skyblue;
                }
            }
            @mixin btnAnime {
                .ep-Text {
                    .ep-Text_inner {
                        transition-property: color, background;
                        transition-duration: 0.5s;
                        background: skyblue;
                        color: #fff!important;
                    }
                }
            }

            @include media-md-max(){
                &:active {
                    @include btnAnime();
                }
            }
            @include media-md() {
                &:hover {
                    @include btnAnime();
                }
            }
        }
    }

    //////////////////////////////////////////////////////
    //component
    .c-Result {
        > * {
            margin-top: 20px;
            text-align: left;
        }
        span {
            font-size: 16px;
            font-weight: normal;
            padding-left: 20px;
        }
    }

    .c-Modal-Content {
        .c-Img-Area {
            .a-Img {
                img {
                    object-fit: contain;
                    max-height: 40vh;
                    @include media-md() {
                        max-height: 40vh;
                    }
                }
            }
        }
    }
    .c-Modal__loading {
        font-size: 40px;
        font-weight: bold;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 100px;
        width: 100vw;
        color: #fff;
        text-align: center;

        .a-Rotate {
            display: inline-block;
        }
        .c-Flash {
            margin-top: 30px;
            margin-bottom: 10px;

            > * {
                display: inline-block;
                position: relative;
            }
        }
        .c-Flash__inner {
            position: absolute;
            bottom: 0;
            right: -50%;
            .a-Anime {
                > * {
                    display: inline;
                }
            }
        }

    }

    //////////////////////////////////////////////////////
    //js用
    #js-Active-Area.isActive {
        @include media-md() {
            > .m-Modal {
                display: flex;
                width: 50%;
                top: 0;
                bottom: 0;

                &.isLeft {
                    left: 0;
                }
            }
        }
    }

    #js-Error, #js-Error-forHeight, #js-Error-forWidth {
        &.a-Text {
            height: 30px;
            line-height: 30px;
        }
    }
    #js-Error-forHeight, #js-Error-forWidth {
        display: none;
    }

    @include media-md() {
        #js-Error-forHeight, #js-Error-forWidth {
            display: block;
        }
        #js-Error {
            display: none;
        }
    }
}